html, body{
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
	font-size: 1em;
	margin-bottom: -20px; 
}
img{
	max-width: 100%;
}
.holder{padding: 20px;}

.full-width{padding: 0;}

.section-p{padding: 5% 0 9%;}

.wrapper-c{margin: auto; display: table;}

.container h2{display: table; margin: 0 auto 7%;}

h2:after, .social h3:after{
	display: block;
	width: 80%;
	height: 2px;
	background-color: #bbf7a8;
	content: " ";
	margin: 10px auto;
}
.social h3:after{
	background-color: #f7bba8;
	width: 100%;
	margin: 10px 0;
}

#header{
	background-color: #333134;
	width: 100%;
	border-bottom: 2px solid #777578;
}
#main-nav{margin-bottom: 0;}
.navbar-brand{padding: 0;}
#main-nav .navigator{
	margin-top: 130px;
}
#nav-flutuante{
	visibility: hidden;
	opacity: 0;
	position: fixed;
	padding: 10px 30px;
	top: 0;
	background-color: #333134;
	width: 100%;
	-webkit-transition: opacity 0.09s;
	-o-transition: opacity 0.09s;
	-moz-transition: opacity 0.09s;
	transition: opacity 0.09s;
	z-index: 10000;
	border-radius: 0;
}
.navigator{
	margin-bottom: 0;
	float: right;

}
	.navbar-header a{
		display: table;
	}
	.navigator li a:hover, .navigator li a:focus, .active{
		background-color: rgb(10, 10, 10);
		background-color: rgba(10, 10, 10, 0.5);  /*#333134 */
		color: #ddd;
	}
.carousel-inner{width: 100%; max-height: 500px; overflow: hidden;}
.carousel-inner img{
	width: 100%;
}

#sobre{background-color: #fffc5e;}

#ensaios{background-color: #fffdad;}
	#ensaios .row{
		padding-bottom: 50px;
	}

.img-thumb-ensaio ~ figcaption{
	box-sizing: border-box;
	visibility: hidden;
	opacity: 0;
	/*background-color: rgba(50,50,50,0.1);*/
	background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.3));
	color: #f2f2f2;
	padding: 10px;
	width: 100%;
	height: 50%;
	position: absolute;
	bottom: 0;
}
	figcaption > .holder{
		position: absolute;
		bottom: 0;
	}
		.figure{
			position: relative;
			display: table;
			width: 90%;
			margin: 10px auto;
		}
			.figure img{
				width: 100%;
			}
			.figure h3{padding-bottom: 20px;}
		.figure:hover > figcaption{
			visibility: visible;
			opacity: 1;
			-webkit-transition: all 1s;
			-o-transition: all 1s;
			-moz-transition: all 1s;
			transition: all 1s;
		}

.sobre-content{
	background-color: rgb(200, 200, 200);
	background-color: rgba(200, 200, 200, 0.1);
	padding: 5% 25%;
	line-height: 30px;
}

.sobre-content:hover{
	color: #f2f2f2;
	background-color: rgb(50, 50, 50);
	background-color: rgba(50, 50, 50, 0.5);
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
}

#map{
  height: 500px;
  background-color: #CCC;
}

#orcamento form > input, .input-group{
	margin: 20px 0;
}

.social h3{padding-bottom: 20px;}
#footer{background-color: #333134; border-top: 2px solid #777578;}



@media (max-width: 991px) {

	.sobre-content{
		background-color: rgb(150, 150, 150);
		background-color: rgba(150, 150, 150, 0);
		padding: 5% 20%;
	}
	.sobre-content h3 {
		text-align: center;
		padding-bottom: 20px;
	}
	.sobre-content:hover{
		background-color: rgb(150, 150, 150);
		background-color: rgba(150, 150, 150, 0);
		color: #333;
	}
	#ensaios .holder {padding: 5%;}
	#ensaios .holder h3{font-size: .9em; font-weight: bolder;}
	#ensaios .holder p{font-size: .8em}
}

@media (max-width: 767px) {
	.img-thumb-ensaio ~ figcaption{
		visibility: visible;
		opacity: 0.7;
	}
	.section-p{padding: 5% 0 3%;}

	#ensaios .row{
		padding-bottom: 0;
	}
	.sobre-content{padding: 10%;}
	.navbar-brand{
		margin: auto;
		float: none;
	}
	.navigator{
		display: table;
	}
	.navigator{display: none;}
}